In [ ]:
import pandas 
import cx_Oracle

In [ ]:
connection = cx_Oracle.connect(user="financeiro", password="marpesia",
                               dsn="10.15.30.13/itesp")

In [ ]:
query = "SELECT * FROM sua_tabela"

In [ ]:
df = pd.read_sql(query, connection)

In [ ]:
connection.close()

In [ ]:
csv_file = 'resultado.csv'
df.to_csv(csv_file, index=False)